---
layout: base.hbs
# This page is only enabled when generating script books
permalink: "/"
---

<link rel="stylesheet" href="/assets/css/book.css" />
<link rel="stylesheet" href="/assets/css/script.css" />
<link rel="stylesheet" href="/assets/css/pagedjs-interface.css" />
<script src="/assets/paged.polyfill.js"></script>

<header>
  <h1 class="title" style="border-width: 0.7mm; font-size: 1.85em;">
    The Brown University Band<br />
    Football and Hockey Show Scripts<br />
    {{book.semesters.0.title}}–{{lookup (last book.semesters) "title"}}
  </h1>
</header>

<nav class="book-toc">
  <h2 style="margin-top: 0; margin-bottom: 0.5in">Table of Contents</h2>
  <ol>
    {{#each book.semesters}}
      <li><a href="#{{collection}}" class="fw-bold">{{title}}</a><ol>
          {{#each (lookup @root.collections collection)}}
            <li><a
                href="#{{../collection}}_{{fileSlug}}"
              >{{data.title}}</a></li>
          {{/each}}
        </ol></li>
    {{/each}}
  </ol></nav>

{{#each book.semesters as |semester|}}
  {{#with (lookup @root.collections semester.collection) as |scripts|}}
    <section>
      <header>
        <h1
          class="title text-decoration-underline"
          id="{{semester.collection}}"
        >{{semester.title}}</h1>
        {{#with scripts.0.data.writers}}
          <p class="h5 fst-italic fw-normal">Scriptwriter{{#if
              (not (equal? this.length 1))
            }}s{{/if}}:
            {{listify this}}</p>
        {{/with}}
      </header>
      {{#each scripts}}
        {{> script semester=semester id_prefix=(add semester.collection "_")}}
      {{/each}}
    </section>
  {{/with}}
{{/each}}
