<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="color-scheme" content="light dark" />

    <title>
      {{~#if title~}}
        {{title}}
        |
        {{site.title}}
      {{~else~}}
        {{site.title}}
      {{~/if~}}
    </title>

    <script async src="/assets/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/base.css" />
  </head>
  <body {{body_attrs}}>
    {{{content}}}
  </body>
</html>
