---
pagination:
  data: scripts.semesters
  size: 1
  alias: semester
permalink: "{{semester.permalink}}"
eleventyComputed:
  title: "{{semester.title}}"
  page_header: >
    <a href="/scripts/" class="link-secondary">
      Scripts
    </a>
    &rsaquo;
    {{semester.title}}
---

<link rel="stylesheet" href="/assets/css/script.css" />

<p class="d-flex">
  {{#if pagination.page.previous}}
    <a href="{{pagination.href.previous}}">←
      {{pagination.page.previous.title}}</a>
  {{/if}}
  <span class="flex-fill"></span>
  {{#if pagination.page.next}}
    <a href="{{pagination.href.next}}">{{pagination.page.next.title}} →</a>
  {{/if}}
</p>

{{#with (lookup collections semester.collection) as |collection|}}
  {{#with collection.0.data.writers}}
    <p class="h4">
      Scriptwriter{{#if (not (equal? writers 1))}}s{{/if}}:
      {{listify this}}
    </p>
  {{/with}}

  {{#each collection}}
    {{#if (not @first)}}<hr style="margin-bottom: 5em" />{{/if}}
    {{> script}}
  {{/each}}
{{/with}}
