<a name="{{id}}"></a>
<table class="table table-sm">
  <thead>
    <tr>
      <th
        colspan="2"
        style="color: white; background-color: {{color}}; text-align: center"
      >
        {{name}}{{#if mascot}}: {{mascot}}{{/if}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each buttons}}
      <tr>
        <td>{{year}}</td>
        <td>
          {{#if image}} <a href="{{image}}">{{label}}</a> {{else}}
            {{label}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
