<link rel="stylesheet" href="/assets/css/navbar-colors.css" />
<link rel="stylesheet" href="/assets/css/nav.css" />

{{#*inline "dropdownActive"}}
  {{~#each this as |link|~}}
    {{#if (and (not link.disabled) (not link.heading))}}
      {{~lookup (find-page link) "active"~}}
    {{/if}}
  {{~/each~}}
{{/inline}}

<nav class="navbar navbar-expand-md navbar-brown">
  <div class="container-lg">
    <div class="col-lg-1 col-xl-2"></div>
    <div
      class="col-md-11 col-lg-10 col-xl-9 d-flex align-items-center justify-content-between"
      style="flex-wrap: inherit"
    >
      <a
        class="navbar-brand mb-2 mb-sm-0 me-0 me-lg-5 d-flex align-items-center"
        href="/"
      >
        <img class="me-2" src="/assets/elrod.png" height="50" alt="" />
        <div class="d-flex flex-column">
          <span style="font-weight: 500">{{site.title}}</span>
          <em class="header-quote">{{quote.random}}</em>
        </div>
      </a>
      <ul class="navbar-nav bg-brown3 flex-sm-row">
        {{#each nav}}
          {{! partial in attribute is broken }}
          {{! prettier-ignore }}
          <li class="nav-item dropdown mx-sm-3 mx-md-1">
            <button
              class="nav-link dropdown-toggle bg-transparent border-0 {{> dropdownActive content}}"
              style="outline: 0"
              id="dropdownMenuLink-{{@index}}"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{~title~}}
            </button>

            <ul
              class="dropdown-menu dropdown-menu-brown rounded-3 sm-shadow-brown mx-3 mx-sm-0"
              aria-labelledby="dropdownMenuLink-{{@index}}"
            >
              {{#each this.content as |link|}}
                {{#if link.heading}}
                  <li><hr class="dropdown-divider" /></li>
                  <li><h6 class="dropdown-header">{{link.heading}}</h6></li>
                {{else if link.disabled}}
                  <li class="dropdown-item disabled">{{link.disabled}}</li>
                {{else}}
                  {{#with (find-page link)}}
                    <li>
                      <a class="dropdown-item {{active}}" href="{{href}}">
                        {{title}}
                      </a>
                    </li>
                  {{/with}}
                {{/if}}
              {{/each}}
            </ul>
          </li>
        {{/each}}
        <li class="nav-item mx-sm-3 mx-md-1">
          <a
            href="/contact/"
            class="nav-link {{lookup (find-page 'contact') 'active'}}"
          >
            Contact
          </a>
        </li>
      </ul>
    </div>
    <div class="col-lg-1"></div>
  </div>
</nav>
