{{#unless (even? @index)}}
  <img
    class="headshot shadow"
    src="/assets/people/{{slugify name}}.jpg"
    width="130"
    style="float: right"
  />
{{/unless}}

<h3 class="h5">
  {{#if position.sec~}}
    <a href="/constitution#{{position.sec}}">{{position.name}}</a>
  {{~else~}}{{position}}{{/if}}
  :
  <a href="mailto:{{email}}">{{name}}</a>&nbsp;{{#if link}}<a
      href="{{link}}"
      style="text-decoration: none; color: inherit"
    >'</a>{{else}}'{{/if}}
  {{~year~}}
</h3>

{{#if (even? @index)}}<img
    class="headshot shadow"
    src="/assets/people/{{slugify name}}.jpg"
    width="130"
    style="float: left"
  />{{/if}}

{{position.role}}

{{bio}}

<div style="clear: left; padding-bottom: 2rem"></div>
