{{#*inline "score"}}
  {{~#if (defined? this)}}
    <small style="font-size: 2rem">({{this}})</small>
  {{~/if~}}
{{/inline}}

{{#*inline "color"}}
  <span
    class="school-color"
    style="color: {{lookup (lookup @root.schoolColors (slugify this)) 'color'}}"
  >{{this}}</span>
{{/inline}}

<article>
  <header style="text-align: center">
    <h1 class="display-5 fw-normal" id="{{id_prefix}}{{fileSlug}}">
      {{#if data.teams.home}}
        {{> color data.teams.away.name}}{{> score data.teams.away.score}}
        <em style="font-size: 0.8em">
          {{~#if data.location}}vs{{else}}at{{/if~}}
        </em>
        {{> color data.teams.home.name}}{{> score data.teams.home.score}}
      {{else if data.opponent}}
        {{! when we don’t know home/away or scores }}
        {{> color "Brown"}}
        <em style="font-size: 0.8em">vs</em>
        {{> color data.opponent}}
      {{else}}
        {{data.title}}
      {{/if}}
      {{#if
        (and (starts-with? data.title "Fall") (equal? data.sport "hockey"))
      }}
        (Hockey)
      {{/if}}
    </h1>
    {{#if data.location}}
      <h2><em>at</em> {{{data.location}}}</h2>
    {{/if}}
    {{#if data.subtitle}}
      <h2><em>{{{data.subtitle}}}</em></h2>
    {{/if}}
    <h3>{{format-utc date "EEEE, MMMM do, y"}}</h3>
  </header>
  {{{templateContent}}}
</article>
